body {
    position: relative;
    margin-top: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;/*'Roboto',*/
    font-size: 14px;   
    padding-bottom: 10rem;
    min-height: 100%;
}
.container{
    max-width: 1200px;
}
a {
    color: black;
}

a.hyperlink {
    color: #0C5F22;
    text-decoration: underline;
    font-weight: normal;
}

a:hover, a:focus {
    color: #0C5F22;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;/*"Roboto",*/
    font-weight: bold;
}

/****** navigation bar.tsv *******/

.navbar{
    margin-top: 10px;
    border-radius: 0px;
    border: none;
}

.navbar-inverse {
    background-color: #58595B;
    background: linear-gradient(to bottom, #58595B 0px, #58595B 100%);
    border: none;
    padding: 0px;
}






/****** box on homepage *******/
.panel.panel-home {
    min-height: 330px;
}

.panel.panel-primary {
    border-color: #DBDBEA;
}

.panel.panel-primary .title-icon {
    position: absolute;
    top : 35px;
    left: 45%;
    z-index: 5;
    width: 50px;
    height: 50px;
}

.panel.panel-primary .title-icon .fa {
    background: #fff;
    text-align: center;
    display: inline;
    border-radius: 50%;
    border-color: #DBDBEA;
    box-shadow: rgb(136, 136, 136) 1px 1px 5px;
    padding: 7px 7px;
    font-size: 16px;
    width: 50px;
    height: 50px;
}

.panel-primary > .panel-heading {
    background-image:linear-gradient(to bottom, #DBDBEA 0px, #dedeec 100%);
    border-color: #DBDBEA;
    background-color: #DBDBEA;
    color: black;
}

.panel-primary > .panel-heading strong {
    font-size: 16px;
}

.image{
    margin-top: -25px;
}

.fa-title {
    background: #fff;
    padding: 1em;
    width:50px; /** fix width ***/
    text-align: center;
    display: inline;
    border-radius: 50%;
    border-color: #DBDBEA;
    line-height: 50px;  /** for vertical center - if needed **/
    box-shadow: rgb(136, 136, 136) 1px 1px 5px;
    padding: 5px;
}

/****** footers *******/

/*keep footer at the bottom of the page*/
html {
    height: 100%;
    box-sizing: border-box;
}

.footer {
    background-color: #58595B;
    border-color: #313140;
    border: 0px solid black;
    border-radius: 0px;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 30px;
    text-align: center;
    margin-top: 20px;
}

.footer p {
    color: #fff;
    font-size:13px;
    font-weight: normal;
    width: 100%;
    padding-top: 15px;
}

.footer .whiteaa{
    color: #fff;
}



/**** buttons *****/

.btn-primary,
.dropdown-toggle.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    color: #ffffff;
    background: #30A968;
    border-color: #30A968;
}

/************************
* Advanced search page
**************************/
.input{

    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857;
    color:#555;
    vertical-align: middle;
    background-color:#FFFFFF;
    border:1px solid #ccc;
    border-radius:4px;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition:border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

div[id*='group'] {margin-bottom: 10px; }
button[id*='drop'] {margin-right: 10px;}
button[id*='op'] {margin-right: 10px; }
input[id*='field'] {margin-right: 10px;width:60%}

div.dropdown { display: inline-block; }


button[class*='opul'] { width: 150px;}
button[class*='field'] { width: 150px;}

.breadcrumb {
    background: #F7FDF6;
    background-image: linear-gradient(to bottom, #B5EBA9 0px, #B5EBA9 100%);
    border: 1px solid #B5EBA9;
    border-radius: 0;
    margin-top: -15px;
    margin-bottom: 5px;
}

@media (min-width: 768px)
{
    .modal-sm {
        width: 400px;
    }
}

.modal-header {
    padding: 10px;
    background-color: #2ecc71;
    border-radius: 5px 5px 0 0;
}

.modal-header > h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.modal-body {
    padding: 20px 20px 0;    
}

.modal-footer {
    margin-top: 5px;
    padding: 10px;
}


.tooltip-inner {
    max-width: 400px;
}



/************************
* Collections page
**************************/
.row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}


#search_criteria{
    margin-top:30px;
}
.selectpicker{
    overflow: hidden;
    padding-right: .5em;
}

.rowstyle{
    padding-left:15px;
    width:103%;
}

.input-group-addon:first-child{
    width:100%;

}
.btn-danger{
    height: 45px;
}
.searchtext{
    padding-left:5px;
    cursor:pointer;
}
#searchresult,#searchresult_adr{
    padding-top:10px;
}


#searchbox,#searchbox_adr{
    height:45px;
    width:100%;
}

.panel-footer{
    height: 60px;
}

.rowforsearch{
    padding-top:30px;
}

.panel-default {
    margin-top: 30px;
    margin-bottom: 50px;
    overflow-y: scroll;
    overflow-x: scroll;

}

.btn-danger{
    background-color: #c9302c;
}

.btn-primary{
    background-color: #1c623d;
}